
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<h2></h2>
<p>Jag heter Alexis Capot och gjorde precis en  Java-React – Fullstack web-developer intensivkurs på Lexicon. Nu är jag på jakt efter ett arbete där jag kan använda de kunskaper jag har utvecklat under min utbildning. Ni kan ansöka  nystartsjobb på  arbetsförmedlingen och spara en del av lönen.</p>
<p>Jag studerade också  Webbprogrammering på Linnéuniversitetet (2009/01 – 2011/01) och  Nättapplikationsprogrammerare Växjö Yrkeshögskola – Ingått tre praktiker (2012/08 – 2014/05).</p>
<p>Jag vill även nämna att jag har studerat sju år inom ekonomi och jag fick titlarna "Finansingenjör", "Examen i managementvetenskap" och "Affärsingenjör". Dessa kunskaper hjälper mig att systematisera, organizera och strukturera mina programmeringsprojekt på ett bättre sätt.</p>


