
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Hangman game</h2>
            <p>A nice Hangman game</p>
            <a href="https://github.com/acapot/Hangman01">C# Hangman</a>
        </div>
        <div class="col">
            <h2>Calculator</h2>
            <p>A nice Calculator</p>
            <a href="https://github.com/acapot/Calculator_01">C# Calculator</a>
        </div>
         <div class="col">
            <h2>Todo Api</h2>
            <p>A nice Todo Api</p>
                <a href="https://github.com/acapot/TodoJavascriptAssignment">Javascript Todo</a>
        </div>
            
  
    </div>
</div>
